{# src/OC/PlatformBundle/Resources/views/Advert/view.html.twig #}

{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
    Lectura de Anuncio - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}
    <h2>{{ advert.title }}</h2>
    <i>Por {{ advert.author }}, el {{ advert.date|date('d/m/Y') }}</i>

    <div class="well">
        {{ advert.content }}
    </div>

    <p>
        <a class="btn btn-default" href="{{ path('oc_platform_home') }}">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Volver a la lista
        </a>
        <a class="btn btn-default" href="{{ path('oc_platform_edit', {'id':advert.id}) }}">
            <i class="glyphicon glyphicon-edit"></i>
            Modificar el anuncio
        </a>
        <a class="btn btn-danger" href="{{ path('oc_platform_delete', {'id':advert.id}) }}">
            <i class="glyphicon glyphicon-trash"></i>
            Suprimir el anuncio
        </a>
    </p>

{% endblock %}